
<div class="container-fluid">
  <div class="row">

    <div class="col-md-0 col-lg-2">

    </div>
    <div class="col-md-12 col-lg-6">
    
      <div class="card border-danger text-black mb-3 index-pagina-cards">
        <p id="notice"><%= notice %>
        <div class="card-body">
          
          <%=render 'bestellingsformulier'%>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 position-fixed  collapse show" id="navbarCart">
      <%=render 'cart'%>
    </div>
  </div>
  
</div>

  

