
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-0 col-xl-2 ">
      <%=render 'table_of_contents'%>

    </div>
    <div class="col-lg-12 col-xl-6">
    
      <div class="card border-danger text-black mb-3 index-pagina-cards">
        <p id="notice"><%= notice %>
        <div class="card-body">
          
          <%=render 'bestellingsformulier'%>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 position-fixed  collapse show" id="navbarCart">
      <%=render 'cart'%>
    </div>
  </div>
  
</div>

  

