<p id="notice"><%= notice %></p>







<div class="container-fluid">

  
  <div class="row">
    <div class="col-sm-8">
      <h1>Onze Producten</h1>
      
        <%=render 'bestellingsformulier'%>
        
    </div>
    <div class="col-sm-4">
      <%=render 'cart'%>
    </div>
  </div>
</div>

