
<div class="container">
  <div class="col-md-12">
   <p id="notice"><%= notice %>
    <div class="card border-danger text-black mb-3 index-pagina-cards">
      <div class="card-body">
        
        <%=render 'bestellingsformulier'%>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-6 col-md-12 ml-auto fixed-top" id="cart-div">
    <div class="card border-danger mb-3 collapse show" id="navbarCart" >
      
        <%=render 'cart'%>
      
    </div>
  </div>
  
</div>

