<div class="card">

  <div class="card-body">
    <h1>Editing Sauce</h1>

    <%= render 'form', sauce: @sauce %>

    <%= link_to 'Show', @sauce %> |
    <%= link_to 'Back', sauces_path %>
  </div>
</div>