<div class="card">

  <p id="notice"><%= notice %></p>
  <div class="card-body">
    <h1>New Sauce</h1>

    <%= render 'form', sauce: @sauce %>

    <%= link_to 'Back', sauces_path %>
  </div>
</div>