/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


// body {
//   background: {
//     attachment:fixed;
//     repeat:no-repeat;

//     position:  right;
//     image: asset_url("kolenkitlogo.jpeg");
      
      
//   }
// }
// .container-fluid{
//   background: {
//     position:fixed;
//     repeat:no-repeat;
//     image: asset_url("kolenkitlogo.jpeg");
//     size:40%;
//     position: right 20%;
//   }
// }


body{
  .navbar{
    margin-bottom:10px;
  }
  background: {
    color: #B22222 !important; /* For browsers that do not support gradients */
    image: linear-gradient(to right, 	#696969	 , #708090		) !important;
    
  }
}
body .navbar-brand:hover{
  border:1px solid black;
  border-radius: 5px;
  
}
body .btn:hover{
  border:1px solid black;
}
.card-block{
  font-size:large;
}
#logo{
  height:auto;
  
}
img{
  border-radius: 4px;
  width:100%;
  height:300px;
  object-fit: cover;
  
}

#navbarCart{
  right:0;
  
}

body .card{
  
  style{
    width: 16rem !important;
    background-color:white !important;
    
  }
  
}
.card #itemprice{
  float:right;
  
}
#bestelling_isBezorgd{
  width: 20px; height: 20px;
  
}
#bestelling_zsm_box{
  width: 20px; height: 20px;
  
}
#product_sauce_sauce_id{
  height:30px;
}
#category_hasSauce{
  width: 20px; height: 20px;
}
#product_sauce_quantity{
  width:100%;
}
.index-pagina-cards{
  
  background: {
    color: #B22222 !important; /* For browsers that do not support gradients */
    image: linear-gradient(to right, 	#C0C0C0	 , white	) !important;
    
  }
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  
  
}
.product-card{
  color: black;
}

#winkelmandje{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background: {
    color: whitesmoke !important; /* For browsers that do not support gradients */
    image: linear-gradient(to right, 	#C0C0C0	 , whitesmoke	) !important;
    
  }
}
#winkelmandje .btn{
  line-height: 0;
}




// body .navbar {
  
//   background: {
//     repeat: no-repeat;
//     position:right;
//     image: asset_url("kolenkitimg2.jpg");
//   }
  
// }
