/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


body {
  background: {
    attachment:fixed;
    repeat:no-repeat;
    size:100%;
    position: center;
    image: asset_url("kolenkitbuiten.jpeg");
      
      
  }
}
body .card{
  
  style{
    width: 16rem !important;
    background-color:white !important;
  }
}
.card #itemprice{
  float:right;
  
}
#bestelling_isBezorgd{
  width: 20px; height: 20px;
  
}
#product_sauce_sauce_id{
  height:30px;
}
#category_hasSauce{
  width: 20px; height: 20px;
}
#product_sauce_quantity{
  width:100%;
}
// body .navbar {
  
//   background: {
//     repeat: no-repeat;
//     position:right;
//     image: asset_url("kolenkitimg2.jpg");
//   }
  
// }
