<p>Hello <%= @resource.email %>!</p>

<p>Iemand heeft een aanvraag ingediend om uw wachtwoord te veranderen. Dit kun je doen op:</p>

<p><%= link_to 'Verander wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als u de aanvraag niet ingedient hebt, negeer deze email.</p>
<p>Uw wachtwoord zal onveranderd blijven</p>
